<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ew.autofly">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 添加如下权限，以便使用更多友盟更精准的统计数据 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--允许App开机启动，来接收推送 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 发送持久广播-->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.usb.accessory"
        android:required="true" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".application.EWApplication"
        android:allowBackup="false"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/channel_app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="HardCodedDebugMode"
        tools:replace="android:label,android:allowBackup">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <uses-library android:name="com.android.future.usb.accessory" />

        <meta-data
            android:name="com.dji.sdk.API_KEY"
            android:value="fc2ad254d1ac28938a59b89d" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="f9590f8f592222fd64fbc6fc6d534c54" />

        <service android:name="com.amap.api.location.APSService" />
        <service android:name="dji.sdk.sdkmanager.DJIGlobalService" />
        <service android:name="dji.pilot.flyforbid.FlyforbidUpdateService" />

        <activity
            android:name=".launch.SplashActivity"
            android:icon="@mipmap/ic_launcher"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/splash_theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--&lt;!&ndash;   <category android:name="android.intent.category.HOME"/>-->
                <!--<category android:name="android.intent.category.DEFAULT"/>-->
                <!--<category android:name="android.intent.category.MONKEY"/>&ndash;&gt;MONKEY-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />
        </activity>

        <!-- <activity
             android:name=".launch.DjiActivity"
             android:theme="@android:style/Theme.Translucent" >

             <intent-filter>
                 <action android:name="android.intent.action.MAIN"/>

                 <category android:name="android.intent.category.LAUNCHER"/>
             </intent-filter>

             <intent-filter>
                 <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
             </intent-filter>

             <meta-data
                 android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                 android:resource="@xml/accessory_filter" />
         </activity>-->

        <activity
            android:name=".home.MainActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <!--
            <activity
            android:name=".activities.MissionImageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Light.NoTitleBar"/>
        -->
        <activity
            android:name=".module.missionmanager.MissionOperateActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".module.missionmanager.StitchImageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".module.missionmanager.MissionPhotoPreviewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".module.missionmanager.LargePhotoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".module.flightrecord.PlaybackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".fragments.dem.GetDemDataActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- Bugly begin -->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <activity
            android:name=".module.media.MediaFragment"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".module.media.view.PreviewMediaActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".module.media.view.PlayDjiVideoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>
        <!-- Bugly end -->

        <service
            android:name=".service.UpdateService"
            android:enabled="true" />
        <service android:name=".service.StitchMonitorService" />

        <service
            android:name=".service.SequoiaMonitorService"
            android:enabled="true" />

    </application>

</manifest>